.timer {
  display: grid;
  justify-items: center;
  grid-row-gap: 23px;
  width: 100%;
  padding-top: 25px;
}

.digital {
  font-family: "Roboto Mono", monospace;
  font-weight: 300;
  font-size: 48px;
}

.controls {
  display: flex;
  justify-content: space-around;

  width: 187px;
}

button {
  cursor: pointer;
  background: transparent;
  padding: 0;
  border: none;
  margin: 0;
  outline: none;
}